@using Microsoft.AspNetCore.Identity;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-store, must-revalidate">
    <title>@ViewData["Title"]</title>
    <link href="~/css/fonts.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PhishFood.styles.css" asp-append-version="true" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- Font Awesome 4 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Quill CSS (for styling the editor) -->
    <link rel="stylesheet" href="~/css/quill.snow.css" />
    <!-- Quill JS (for Quill functionality) v1.3.7 -->
    <script src= "~/js/quill.js"></script> 
    <!-- Quill image compression -->
    <script src="~/js/quill.imageCompressor.min.js"></script>
    @RenderSection("style", false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand logo" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo.png" alt="NMC Logo" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Training" asp-action="Train">Training</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Testing" asp-action="TestSelection">Testing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Result" asp-action="Index">Result</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Student" asp-action="Index">Student</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link text-white dropbtn" onmouseover="Dropdown()" href="#">Add New Content</a>
                                <div id="dropdown-content" class="dropdown-content">
                                    <a asp-area="" asp-controller="Subcategory" asp-action="CategoryView">Category & Subcategory</a>
                                    <a asp-area="" asp-controller="Training" asp-action="Index">Training</a>
                                    <a asp-area="" asp-controller="Testing" asp-action="Index" class="bottom-line">Testing</a>
                                </div>
                            </li>
                        }
                    </ul>
                    <ul class="navbar-nav text-white">
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <span class="nav-link text-light">ADMIN ACCESS</span>
                            </li>
                            <li class="nav-item">
                                <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" method="post" class="form-inline">
                                    <button type="submit" class="nav-link btn btn-link text-white">Logout</button>
                                </form>
                            </li>
                        }
                        else if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <span class="nav-link text-light">Hello, @User.Identity.Name!</span>
                            </li>
                            <li class="nav-item">
                                <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" method="post" class="form-inline">
                                    <button type="submit" class="nav-link btn btn-link text-white">Logout</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Register">Register</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div id="wrapper" class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-white bg-black">
        <div class="container-fluid pt-3">
            <p><strong>For tech issues: &nbsp;</strong></p>
            <p>
                Contact:&nbsp;<a href="tel:+12319953020" class="text-white fw-bold">(231) 995-3020</a>&nbsp;or&nbsp;
                <a href="https://helpdesk.nmc.edu/support/home" target="_blank" class="text-white fw-bold">Submit a Ticket</a>
            </p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("script", false)
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
