@model PhishFood.Models.Testing

@{
    ViewData["Title"] = "Delete Question";
}

<h1 class="text-center mt-5 mb-4">@ViewData["Title"]</h1>

<h3 class="text-center">Are you sure you want to delete <span style="color: red;">this question</span>?</h3>
<hr />
<div class="row">
    <div class="offset-lg-2 col-lg-8">
        <div class="create max100">
            <p class="label">@Html.DisplayNameFor(model => model.Question)</p>
            <p>@Html.Raw(Model.Question)</p>
        </div>
        <div class="create">
            <p class="label">@Html.DisplayNameFor(model => model.Key)</p>
            <p>@Html.DisplayFor(model => model.Key)</p>
        </div>
        <div class="create">
            <p class="label">@Html.DisplayNameFor(model => model.Option1)</p>
            <p>@Html.DisplayFor(model => model.Option1)</p>
        </div>
        <div class="create">
            <p class="label">@Html.DisplayNameFor(model => model.Option2)</p>
            <p>@Html.DisplayFor(model => model.Option2)</p>
        </div>
        <div class="create">
            <p class="label">@Html.DisplayNameFor(model => model.Option3)</p>
            <p>@Html.DisplayFor(model => model.Option3)</p>
        </div>
        <div class="create max100">
            <p class="label">@Html.DisplayNameFor(model => model.Explanation)</p>
            <p>@Html.Raw(Model.Explanation)</p>
        </div>
        <div class="create">
            <p class="label">@Html.DisplayNameFor(model => model.Category)</p>
            <p>@Html.DisplayFor(model => model.Category.Type)</p>
        </div>
        <div class="create">
            <p class="label">@Html.DisplayNameFor(model => model.Subcategory)</p>
            <p>@Html.DisplayFor(model => model.Subcategory.Type)</p>
        </div>
    </div>
</div>
<div class="form-group btns mb-5">
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-outline-secondary">Cancel</a>
    </form>
</div>
