@model PhishFood.Models.Testing

@{
    ViewData["Title"] = "Question Details";
}

<h1 class="text-center mt-5">@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="offset-lg-2 col-lg-8">
        <div class="create max100">
            <p class="label">@Html.DisplayNameFor(model => model.Question)</p>
            <p>@Html.Raw(Model.Question)</p>
        </div>
        <div class="create">
            <p class="label">@Html.DisplayNameFor(model => model.Key)</p>
            <p>@Html.DisplayFor(model => model.Key)</p>
        </div>
        <div class="create">
            <p class="label">@Html.DisplayNameFor(model => model.Option1)</p>
            <p>@Html.DisplayFor(model => model.Option1)</p>
        </div>
        <div class="create">
            <p class="label">@Html.DisplayNameFor(model => model.Option2)</p>
            <p>@Html.DisplayFor(model => model.Option2)</p>
        </div>
        <div class="create">
            <p class="label">@Html.DisplayNameFor(model => model.Option3)</p>
            <p>@Html.DisplayFor(model => model.Option3)</p>
        </div>
        <div class="create">
            <p class="label">@Html.DisplayNameFor(model => model.Explanation)</p>
            <p>@Html.Raw(Model.Explanation)</p>
        </div>
        <div class="create">
            <p class="label">@Html.DisplayNameFor(model => model.Category)</p>
            <p>@Html.DisplayFor(model => model.Category.Type)</p>
        </div>
        <div class="create">
            <p class="label">@Html.DisplayNameFor(model => model.Subcategory)</p>
            <p>@Html.DisplayFor(model => model.Subcategory.Type)</p>
        </div>
    </div>
</div>
<div class="form-group btns mb-5">
    <a asp-action="Edit" asp-route-id="@Model?.ID" class="btn btn-outline-danger">Edit</a>
    <a asp-action="Index" class="btn btn-outline-dark">Back to List</a>
</div>
