@model PhishFood.Models.Testing

@{
    ViewData["Title"] = "Details";
}
<head>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
</head>
<body>
    <h1 style="text-align: center;">Question Details</h1>

    <div class="row center">
        <div class="col-md-4" style="width: 60%">
        <hr />
            <div>
                <strong>@Html.DisplayNameFor(model => model.Question) </strong>
            </div>
            <div>
                @Html.Raw(Model.Question)
            </div>
            <div>
                <strong>@Html.DisplayNameFor(model => model.Key)</strong>
            </div>
            <div>
                @Html.DisplayFor(model => model.Key)
            </div>
            <div>
                <strong>@Html.DisplayNameFor(model => model.Option1)</strong>
            </div>
            <div>
                @Html.DisplayFor(model => model.Option1)
            </div>
            <div>
                <strong>@Html.DisplayNameFor(model => model.Option2)</strong>
            </div>
            <div>
                @Html.DisplayFor(model => model.Option2)
            </div>
            <div>
                <strong>@Html.DisplayNameFor(model => model.Option3)</strong>
            </div>
            <div>
                @Html.DisplayFor(model => model.Option3)
            </div>
            <br />
            <div>
                <strong>@Html.DisplayNameFor(model => model.Explanation)</strong>
            </div>
            <div>
                @Html.Raw(Model.Explanation)
            </div>
            <div>
                <strong>@Html.DisplayNameFor(model => model.Category)</strong>
            </div>
            <div>
                @Html.DisplayFor(model => model.Category.Type)
            </div>
            <div>
                <strong>@Html.DisplayNameFor(model => model.Subcategory)</strong>
            </div>
            <div>
                @Html.DisplayFor(model => model.Subcategory.Type)
            </div>
    </div>
    </div>
    <div class="center" style="margin: 10px;">
        <div>
            <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</body>