@model List<PhishFood.Models.Testing>

@{
    ViewData["Title"] = $"{ViewBag.Category ?? "Training"} - {ViewBag.Subcategory ?? "All"}";
}

<h2 class="center">@ViewData["Title"]</h2>

<form method="post" action="@Url.Action("SubmitTest", "Testing")">
    @for (int i = 0; i < Model.Count; i++)
    {
        <div>@Html.Raw(Model[i].Question)</div>
        <div class="question-card">
            <input type="hidden" name="Answers[@i].QuestionId" value="@Model[i].ID" />
            <label><input type="radio" name="Answers[@i].SelectedOption" value="@Model[i].Key" required> @Model[i].Key</label><br>
            <label><input type="radio" name="Answers[@i].SelectedOption" value="@Model[i].Option1" required> @Model[i].Option1</label><br>
            <label><input type="radio" name="Answers[@i].SelectedOption" value="@Model[i].Option2" required> @Model[i].Option2</label><br>
            <label><input type="radio" name="Answers[@i].SelectedOption" value="@Model[i].Option3" required> @Model[i].Option3</label><br>
        </div>
        <br />
    }

    <button type="submit">Submit Test</button>
</form>
