@model PhishFood.Models.Training

@{
    ViewData["Title"] = "Delete Content";
}

<h1 class="text-center mt-5 mb-4">@ViewData["Title"]</h1>

<h3 class="text-center">Are you sure you want to delete <span style="color: red;">@Html.DisplayFor(model => model.Name)</span>?</h3>
<hr />
<div class="row">
    <div class="offset-lg-2 col-lg-8">
        <div class="create">
            <p class="label">@Html.DisplayNameFor(model => model.Content)</p>
            <p>@Html.Raw(Model.Content)</p>
        </div>
        <div class="create">
            <p class="label">@Html.DisplayNameFor(model => model.Notes)</p>
            <p>@Html.Raw(Model.Notes)</p>
        </div>
        <div class="create">
            <p class="label">@Html.DisplayNameFor(model => model.Category): </p>
            <p>@Html.DisplayFor(model => model.Category.Type)</p>
        </div>
        <div class="create">
            <p class="label">@Html.DisplayNameFor(model => model.Subcategory): </p>
            <p>@Html.DisplayFor(model => model.Subcategory.Type)</p>
        </div>
    </div>
</div>
<div class="form-group btns mb-5">
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-outline-secondary">Cancel</a>
    </form>
</div>
