@model PhishFood.Models.Training

@{
    ViewData["Title"] = "Content Details";
}

<h1 class="text-center mt-5">@ViewData["Title"]</h1>

<hr />
<div class="row max100">
    <div class="offset-lg-2 col-lg-8">
        <div class="create max100">
            <p class="label">@Html.DisplayNameFor(model => model.Name)</p>
            <p>@Html.DisplayFor(model => model.Name)</p>
        </div>
        <div class="create">
            <p class="label">@Html.DisplayNameFor(model => model.Content)</p>
            <p>@Html.Raw(Model.Content)</p>
        </div>
        <div class="create max100">
            <p class="label">@Html.DisplayNameFor(model => model.Notes)</p>
            <p>@Html.Raw(Model.Notes)</p>
        </div>
        <div class="create">
            <p class="label">@Html.DisplayNameFor(model => model.Category)</p>
            <p>@Html.DisplayFor(model => model.Category.Type)</p>
        </div>
        <div class="create">
            <p class="label">@Html.DisplayNameFor(model => model.Subcategory)</p>
            <p>@Html.DisplayFor(model => model.Subcategory.Type)</p>
        </div>
    </div>
</div>
<div class="form-group btns mb-5">
    <a asp-action="Edit" asp-route-id="@Model?.ID" class="btn btn-outline-danger">Edit</a>
    <a asp-action="Index" class="btn btn-outline-dark">Back to List</a>
</div>
