@model IEnumerable<PhishFood.Models.Training>

@{
    ViewData["Title"] = "Training Content List";
}

@section style {
    <style>
        body {
            background: url('/images/hawkowl.png') no-repeat;
            background-size: contain;
            background-position: center;
        }
    </style>
}

<h1 class="text-center my-5">@ViewData["Title"]</h1>
<!-- Search Form -->
<form asp-action="Index" method="get" class="text-center mb-3">
    <input type="text" name="searchQuery" value="@ViewData["searchQuery"]" placeholder="Search..." />
    <button type="submit" class="btn btn-outline-success">Search</button>
    <button class="btn btn-outline-secondary" asp-action="Index">Clear</button>
</form>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th>
                    <a asp-action="Index" asp-route-sort="@ViewData["Category"]">@Html.DisplayNameFor(model => model.Category)</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sort="@ViewData["Subcategory"]">@Html.DisplayNameFor(model => model.Subcategory)</a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.Raw(item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subcategory.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="text-center">No Results found</p>
}

<p class="text-end">
    <a class="btn btn-outline-danger" asp-action="Create">+ New</a>
</p>
