@model IEnumerable<PhishFood.ViewModels.TrainingListViewModel>

@{
    ViewData["Title"] = "Training Content List";
    var showInactive = (bool?)ViewBag.ShowInactive ?? false;
}

<style>
    a {
        text-decoration: none;
    }
</style>

<h1 class="text-center my-5">@ViewData["Title"]</h1>
<!-- Search Form -->
<form asp-action="Index" method="get" class="text-center mb-3">
    <div>
        <input type="text" name="searchQuery" value="@ViewData["searchQuery"]" placeholder="Search..." />
        <button type="submit" class="btn btn-outline-success">Search</button>
        <button class="btn btn-outline-secondary" asp-action="Index">Clear</button>
    </div>
    <div>
        <label>
            <input type="checkbox" name="showInactive" value="true" @(showInactive ? "checked" : "") onchange="this.form.submit()" />
            Show Inactive
        </label>
    </div>
</form>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th>
                    <a asp-action="Index" asp-route-sort="@(ViewData["SortOrder"]?.ToString() == "cat_asc" ? "cat_desc" : "cat_asc")" asp-route-searchQuery="@ViewData["searchQuery"]" asp-route-showInactive="@ViewBag.ShowInactive">
                        @Html.DisplayNameFor(model => model.CategoryType)
                        @if (ViewData["SortOrder"]?.ToString() == "cat_asc")
                        {
                            <span>▲</span>
                        }
                        else if (ViewData["SortOrder"]?.ToString() == "cat_desc")
                        {
                            <span>▼</span>
                        }
                    </a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sort="@(ViewData["SortOrder"]?.ToString() == "sub_asc" ? "sub_desc" : "sub_asc")" asp-route-searchQuery="@ViewData["searchQuery"]" asp-route-showInactive="@ViewBag.ShowInactive">
                        @Html.DisplayNameFor(model => model.SubcategoryType)
                        @if (ViewData["SortOrder"]?.ToString() == "sub_asc")
                        {
                            <span>▲</span>
                        }
                        else if (ViewData["SortOrder"]?.ToString() == "sub_desc")
                        {
                            <span>▼</span>
                        }
                    </a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sort="@(ViewData["SortOrder"]?.ToString() == "name_asc" ? "name_desc" : "name_asc")" asp-route-searchQuery="@ViewData["searchQuery"]" asp-route-showInactive="@ViewBag.ShowInactive">
                        @Html.DisplayNameFor(model => model.Name)
                        @if (ViewData["SortOrder"]?.ToString() == "name_asc")
                        {
                            <span>▲</span>
                        }
                        else if (ViewData["SortOrder"]?.ToString() == "name_desc")
                        {
                            <span>▼</span>
                        }
                    </a>
                </th>
                <th>
                    <a asp-action="Index"
                       asp-route-sort="@(ViewData["SortOrder"]?.ToString() == "active_asc" ? "active_desc" : "active_asc")"
                       asp-route-searchQuery="@ViewData["searchQuery"]"
                       asp-route-showInactive="@ViewBag.ShowInactive">
                        @Html.DisplayNameFor(model => model.IsActive)
                        @if (ViewData["SortOrder"]?.ToString() == "active_asc")
                        {
                            <span>▲</span>
                        }
                        else if (ViewData["SortOrder"]?.ToString() == "active_desc")
                        {
                            <span>▼</span>
                        }
                    </a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.ID
                    </td>
                    <td>
                        @item.CategoryType  
                    </td>
                    <td>
                        @item.SubcategoryType
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.IsActive
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="text-center">No Results found</p>
}

<p class="center">
    <a class="btn btn-outline-danger" asp-action="Create">+ New</a>
</p>
