@model IEnumerable<PhishFood.Models.Training>

@{
    ViewData["Title"] = "Training Content List";
}

        <h1 class="center">@ViewData["Title"]</h1>
        <hr />

<p class="center">
    <button class="create-button"><a asp-action="Create" style="text-decoration: none; color: white; font-size: 18px;">Create New</a></button>
</p>
<div class="center">
    <!-- Search Form -->
    <form method="get">
        <button type="submit" class="submit-button">Search</button>
        <input type="text" name="searchQuery" value="@ViewData["searchQuery"]" placeholder="Search..." />
    </form>
</div>

        <div class="center">
            @if (Model != null && Model.Any())
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Category)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Subcategory)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.Raw(item.ID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Category.Type)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Subcategory.Type)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>No Results found</p>
            }
        </div>
