@model IEnumerable<PhishFood.Models.Student>

@{
    ViewData["Title"] = "Students";
}

@section style {
    <style>
        body {
            background: url('/images/hawkowl.png') no-repeat;
            background-size: contain;
            background-position: center;
        }
    </style>
}

<h1 class="text-center my-5">@ViewData["Title"]</h1>
<!-- Search Form -->
<form asp-action="Index" method="get" class="text-center mb-3">
    <input type="text" name="searchQuery" value="@ViewData["searchQuery"]" placeholder="Search..." />
    <button type="submit" class="btn btn-outline-success">Search</button>
    <button class="btn btn-outline-secondary" asp-action="Index">Clear</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
        }
    </tbody>
</table>

<p class="text-end">
    <a class="btn btn-outline-danger" asp-action="Create">+ New</a>
</p>
